@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #353535
}

.mainHeader__content--link.lobster:before {
  display: none !important;
}

.color-black {
  color: black;
}

.lobster {
  padding: 0 !important;
  font-size: 24px !important;
  font-family: 'Lobster', cursive;
}

.alert {
  position: fixed;
  right: 0;
  top: 0;
  margin: 2rem;
}

a {
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.font-size-24 {
  font-size: 24px;
}

.font-weight-700 {
  font-weight: 700;
}

.font-color-black {
  color: #353535;
}

.font-style-italic {
  font-style: italic;
}

.image-shadow {
  object-fit: cover;
  box-shadow: 0px 10px 10px #00000040;

}


.mainHeader {
  height: 100vh;
  background-image: url("./../assets/images/mainPhoto.jpg");
  background-size: cover;
  background-position: center;


  &__content {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &--nav {
      width: 100%;
      background: white;
      border-radius: 1rem;
    }

    &--link {
      display: inline-block;
      padding: .5rem 1rem;
      font-size: 16px;
      color: #353535;
      position: relative;
      font-weight: 500;

      &.active {
        &:before {
          background: #0091B3;
        }

      }

      &:before {
        background: none;
        transform: translate(-125%, 68%);
        content: "";
        position: absolute;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        transition: .3s;
      }

      &:hover {
        color: black;

        &:before {
          background: #0091B3;
        }
      }
    }

    &--button {
      align-items: center;
      display: flex;
      border: 1px white solid;
      color: white;
      padding: .5rem 2.5rem;
      font-size: 32px;
      border-radius: 25px;

      img {
        width: 25px;
        margin-left: .5rem;;
      }

      transition: .3s;

      &:hover {
        background: white;
        color: black;
      }
    }
  }
}


.william {
  &__container {
    margin: 4rem 0 2rem;
    background: #00000040;

    &__content {
      display: flex;
      align-items: center;
      font-size: 40px;

      &--portret {
        border-radius: 25px;
        margin: 2rem;
      }

      &--dots {
        margin: 0 1rem
      }
    }
  }
}

.footer {
  &__container {
    background: #353535;


    &__content {
      padding: 2rem;
    }

    &__col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a, div {
        color: #93A0A0;
      }

      img {
        padding-right: .5rem;
      }
    }
  }
}

.discorders {
  &--containers {
    margin: 2rem auto;

    &--col {
      margin: 1rem 0;
      display: flex;
      align-items: flex-start;
    }


    &--btn {
      background: #0091B3;
      color: white;
      font-weight: bolder;
      padding: 1rem 8rem;
      border-radius: 25px;
      margin: 2rem 1rem;
    }

    &--buttons {
      justify-content: center;
      display: flex;
    }
  }
}

.avatar {
  &--container {
    margin: 3rem auto;

    &--img {
      border-radius: 25px;
    }
  }
}


.header {
  &--container {
    height: 18rem;
  }

  &--content {
    padding: 1rem 1rem 0rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__text {
      border-radius: 25px 25px 0 0;
      box-shadow: inset 0px 0px 15px #000000;
      padding: 1rem 2rem;
      margin: 0;
      font-size: 128px;
      font-weight: bold;
      color: white;
      background-color: rgba(0, 165, 204, 0.8)
    }
  }
}

.offer {
  background-image: url("./../assets/images/offerHeader.jpg");
  background-size: cover;
  background-position: center;
}

.price {
  background-image: url("./../assets/images/priceHeader.jpg");
  background-size: cover;
  background-position: center;
}

.contact {
  background-image: url("./../assets/images/contactHeader.jpg");
  background-size: cover;
  background-position: center;
}

.womans {
  background-image: url("./../assets/images/womansHeader.jpg");
  background-size: cover;
  background-position: center;
}

.IWT {
  &--container {
    margin: 4rem auto;
  }

  &--image {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 25px;
  }
}

.pricelist {
  &--container {
    margin: 6rem auto 3rem;
  }

  &--table {
    border-collapse: collapse !important;
    border: 2px solid #0097B7 !important;

    * {
      border-width: 2px !important;
      text-align: center;
      font-size: 24px !important;
      vertical-align: middle;
    }

    tbody {
      border-top: none !important;
    }
  }
}


.contact {

}

.btn--custom {
  padding: .25rem 3rem;
  border: none !important;
  background: #0091B3;
  color: white;
  font-weight: bolder;
  border-radius: 25px;
}

.mobile-nav {
  position: fixed;
  height: 4rem;
  left: 0;
  width: 100%;
  background: white;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
}

.mobile-menu {
  position: fixed;
  height: Calc(100vh - 4rem);
  background: rgba(255, 255, 255, 0.93);
  left: 0;
  top: 4rem;
  width: 80%;
  transform: translateX(125%);
  transition: .3s;


  &-image {
    width: 100%;
    padding: 4rem;
  }

  &.active {
    transform: translateX(25%);
  }

  &-link {
    display: flex;
    margin: 1rem 0;
    font-size: 16px;
    color: black;

    &:hover {
      color: black;
    }


    &.active {
      font-weight: 700;
      color: black
    }

    &.active .dot {
      background: #0091B3;
    }
  }

  .dot {
    margin: .2rem;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: #C4C4C4;
  }
}

.discorders--containers--btn:hover {
  color: white;
}

@media (max-width: 992px) {
  .discorders--containers--btn {
    text-align: center;
  }


  .header--content__text {
    font-size: 3rem;
  }
  .IWT--image {
    width: 250px !important;
    margin: 0 auto !important;
    padding: 1rem !important;
  }
  .pricelist--container {
    .col-sm-1 {
      display: none;
    }
  }
  .header--content {
    justify-content: flex-end;
  }
  .discorders--containers--buttons {
    flex-direction: column;
  }

  .avatar--container--img {
    width: auto;
  }

  .mainHeader {
    margin-top: 4rem;
    height: Calc(100vh - 4rem);

    &__content {
      padding: 6rem 2rem
    }
  }
  .william__container__content--portret {
    width: 148px;
    height: 172px;
    margin: 0rem;
  }

  .william__container__content {
    font-size: 16px;
  }
  .william__container {
    margin: 0 0 2rem 0;
    padding: 1rem
  }
  .footer__container__col div {
    padding: .5rem;
  }
}